PORT=5000
NODE_ENV=development
TZ=UTC

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=coasther

EMAIL_SERVICE = SMTP
EMAIL_USER = Email_ADDRESS
EMAIL_PASS = Pass
EMAIL_HOST = Email Host
EMAIL_PORT = 465

JWT_SECRET=JWT_SECRET_KEY
WEATHER_API_KEY=WEATHER_API_KEY_VALUE
GEMINI_API_KEY=GEMINI_API_KEY_VALUE

MIDTRANS_SERVER_KEY=MIDTRANS_SERVER_KEY_VALUE
MIDTRANS_CLIENT_KEY=MIDTRANS_CLIENT_KEY_VALUE
MIDTRANS_IS_PRODUCTION=false

mqtt_host= MQTT_HOST_VALUE
mqtt_port= MQTT_PORT_VALUE
mqtt_username= MQTT_USERNAME_VALUE
mqtt_password= MQTT_PASSWORD_VALUE
