# ==========================================
# Config 
# ==========================================
PORT=5000
NODE_ENV=development #(development, production)
TZ=UTC # Timezone for the application (e.g., UTC, Asia/Jakarta, etc.)
INSIGHT_TTL_HOURS= # Insight cache TTL in hours
PREDICTION_TTL_HOURS= # Prediction cache TTL in hours
# ==========================================
# DB Settings
# ==========================================
DB_HOST= localhost
DB_PORT= 3306
DB_USER= #db username
DB_PASS= #db password
DB_NAME= #db name
# ==========================================
# Email Config
# ==========================================
EMAIL_SERVICE = SMTP # Email service provider (e.g., SMTP, SendGrid, etc.)
EMAIL_USER = #EMAIL_USER
EMAIL_PASS = #EMAIL_PASS
EMAIL_HOST = #EMAIL_HOST
EMAIL_PORT = #EMAIL_PORT
# ==========================================
# Secret Credentials 
# ==========================================
JWT_SECRET= #jwt secret key for authentication
WEATHER_API_KEY= #weather API key for fetching weather data
GEMINI_API_KEY= #Gemini API key for AI-related functionality
GEMINI_MODEL= #Gemini model to use for AI-related functionality (e.g., gemini-3.1-flash-lite-preview)
FCM_TOKEN_KEY= #Key for storing FCM token in AsyncStorage
FCM_ADMIN_SDK= #Path to the Firebase Admin SDK JSON file for FCM integration
# ==========================================
# Unsplash Credentials
# ==========================================
UNSPLASH_ACCESS_KEY= #Unsplash access key for fetching images
UNSPLASH_APLICATION_ID= #Unsplash application ID for fetching images
UNSPLASH_SECRET_KEY= #Unsplash secret key for fetching images
UNSPLASH_BASE_URL= https://api.unsplash.com
# ==========================================
# MIDTRANS Setup
# ==========================================
MIDTRANS_SERVER_KEY= #Midtrans server key for payment processing
MIDTRANS_CLIENT_KEY= #Midtrans client key for payment processing
MIDTRANS_IS_PRODUCTION=false 
# ==========================================
# MQTT Setup
# ==========================================
MQTT_HOST= #mqtt server host 
MQTT_PORT= #mqtt server port 
MQTT_USERNAME= #mqtt user username
MQTT_PASSWORD= #mqtt user password
# ==========================================
# Scheduler Config
# ==========================================
CRON_MONTHLY_BILLING=10 0 1 * * # Cron expression for monthly billing (runs on the 1st of every month at 00:10)
CRON_CURRENT_MONTH=*/5 * * * * # Cron expression for current month insights and predictions (runs every 5 minutes) 
# ==========================================
# Limiter Config
# ==========================================
RATE_LIMIT_GENERAL_MAX=1000 # Max 100 requests per window for general endpoints
RATE_LIMIT_GENERAL_WINDOW_MS=900000 # 15 minutes window for general endpoints
RATE_LIMIT_AUTH_MAX=1000 # Max 1000 requests per window for auth endpoints (e.g., login, register)
RATE_LIMIT_AUTH_WINDOW_MS=900000 # 15 minutes window for auth endpoints
RATE_LIMIT_AI_MAX=20 # Max 20 requests per window for AI-related endpoints (e.g., chat, image generation)
RATE_LIMIT_AI_WINDOW_MS=3600000 # 1 hour window for AI-related endpoints
RATE_LIMIT_SCHEDULER_MAX=10 # Max 10 requests per window for scheduler endpoints (e.g., cron jobs)
RATE_LIMIT_SCHEDULER_WINDOW_MS=3600000 # 1 hour window for scheduler endpoints
RATE_LIMIT_RELAY_MAX=100 # Max 100 requests per window for relay endpoints (e.g., MQTT, WebSocket)
RATE_LIMIT_RELAY_WINDOW_MS=60000 # 1 minute window for relay endpoints
CRON_OVERDUE_CHECK=0 7 * * * # Setiap hari jam 7 pagi
# ==========================================
# LOGGING
# ==========================================
LOG_LEVEL=info